:root {
    --text: #041612;
    --background: #f2fdfb;
    --primary-button: hsl(198, 69%, 73%);
    --secondary-button: #ffffff;
    --accent: rgb(52, 86, 218);
    --fontHeading: 'Oswald', sans-serif;
    --font-text: 'Source Serif 4', serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background: #f2fdfb;
    font-family: var(--font-text);
    
}

header {
    width: 100%;
   
  background-image: linear-gradient(197deg, #8bcdea 0%, #3456da 100%);
  padding: 25px 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.links ul {
  margin: 0;
  padding: 0;
    display: flex;
    
}

.links ul li {
    list-style: none;
}
.links ul li a {
  position: relative;
   text-decoration: none;
   color: black;
   font-weight: 600;
   font-size: 18px;
   letter-spacing: 0.5px;
   padding: 1rem;
   display: block;
   margin-right: 5px;
}

 .links ul li a::after {
    content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background:hsl(228, 69%, 53%) ;
  height: 3px;
  width: 0;
  transition: 0.3s;
}
.links ul li .inPageA {
  color: aquamarine;
}
.links ul li .inPageA::after{
  width: 100%;
  background: aquamarine;
  
}
.links ul li a:hover::after {
    width: 100%;
}

a:hover {
    color: rgb(255, 255, 255);
}

.logo {
    width: 150px;
}


/*Header Content */

.header-content {
    display: flex;
    align-items: center;
    margin: 20px 150px;
   
}
.quote {
 flex: 1;
 margin-right: 20px;
}
.quote {
    font-size: 5rem;
    font-weight: 900;
    font-family: var(--fontHeading);

}
.titleForm-color {
 color:aquamarine;
}
.titleForm-color {
    display: inline-block;
    overflow: hidden;
    animation: typing 3s steps(40) 0.1s infinite;
    white-space: nowrap;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }


.header-p  {
   border-left: 2px solid black;
    margin-left: 20px;
  padding-left: 50px;
  
 flex: 1;
 font-size: 1.5rem;
}




/*
.custom-button {
    background-color: white;
    color: #33517A;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .custom-button:hover {
    background-color: #DCF1FF;
    cursor: pointer;
  }

  */
  

  /* Main */

  

main {
    margin: 100px 0;
    padding:  0 50px;
   
}
 
  .container {
    display: flex;
    justify-content: space-around;
    
  }
  i {
    font-size: 50px;
  }
  .box {
    text-align: left;
    height: 400px;
    width: 300px;
    border: none;
    background-color: var(--background);
    padding: 50px 50px;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 0 5px 2px rgba(0,0,0, 0.2);
    transition: .2s;
    cursor: pointer;
  }
  .box:hover {
    transform: scale(1.05);
    box-shadow: rgb(52, 86, 218, 0.4) 0px 5px, rgb(52, 86, 218, 0.3) 0px 10px, rgb(52, 86, 218, 0.2) 0px 15px, rgb(52, 86, 218, 0.1) 0px 20px, rgb(52, 86, 218, 0.05) 0px 25px;
    background-color: var(--accent);
    color: whitesmoke;
  }
  .box:hover:nth-child(1) {
    box-shadow: rgb(52, 86, 218, 0.4) -5px 5px, rgb(52, 86, 218, 0.3) -10px 10px, rgb(52, 86, 218, 0.2) -15px 15px, rgb(52, 86, 218, 0.1) -20px 20px, rgb(52, 86, 218, 0.05) -25px 25px;
  }

  .box:hover:nth-child(3) {
    box-shadow: rgb(52, 86, 218, 0.4) 5px 5px, rgb(52, 86, 218, 0.3) 10px 10px, rgb(52, 86, 218, 0.2) 15px 15px, rgb(52, 86, 218, 0.1) 20px 20px, rgb(52, 86, 218, 0.05) 25px 25px;
  }
  .box p {
    text-align: center;
    margin-top: 5px;
  }
 .instructions {
    margin: 0 auto;
    width: 1200px;
 }
  .instructions h2 {
    margin-bottom: 5px;
    font-size: 3rem;
    font-family: var(--fontHeading);
    position: relative;
  }
  .instructions-title::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #3456da;
    opacity: 50%;
    left: -5px;
    z-index: -1;
    
  }

  .instructions h2:hover {
    text-decoration: underline;
  }
  /* Chevron For Carousel*/

  .top {
    margin-bottom: 20px;
  }

  .left {
    margin: 0;
   border: none;
   background: none;
   cursor: pointer;
   display: none;
   
  
  }
  .right {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
    
  }
  /* footer */
 footer {
    margin-top: 100px;
    background-color:#8bcdea;
    padding: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

 }
 .line {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    
  }
  
 .outsource {
    flex: 3;
    margin-right: 50px;
 }

 .links1 {
 
    flex: 1;
 }

 .links1 ul li {
    list-style: none;
    padding: 0;
 }
 .links1 ul li a{
    font-size: 1.15rem;
    margin-bottom: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
 }
 .links1 ul li a:hover {
    text-decoration: underline;
    color: white;
 }

 .links1 ul li h6 {
    margin-bottom: 5px;
  }
  .line {
    font-size: 1.25rem;
    font-weight: 800;
  }
  .line::before,
  .line::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #000;
  }
  
  .line::before {
    left: 0;
  }
  
  .line::after {
    right: 0;
  }


  .container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  h6 {
    font-family: var(--fontHeading);
    font-size: 1.15rem;
  }

 .toggle-btn {
  display: none;
  position: absolute;
  top: 75px;
 right: 50px;
    animation: bounce 2s infinite;
    cursor: pointer;
 }

 @keyframes bounce {
    0% {
       transform: scale(1);
    } 50% {
        transform: scale(1.2);
        color: #a4a72b;
    } 100% {
       transform: scale(1);
    }
 }
 .fa-bars {
    font-size: 2.5em;
  }
  @media (max-width: 1200px) {
    .header-content {
        display: flex;
        align-items: center;
      margin: 20px 10px;
       flex-direction: column;
    }
    br {
        display: none;
      
    }
    .outsource {
        text-align: center;
    }
    .links1 {
        padding: 20px;
        margin-top: 20px;
        text-align: center;
     }
    
    .header-p  {
        border-left: none;;
         margin-left: 0px;
       padding-left: 0px;
       text-align: center;
       
      flex: 1;
      font-size: 1.25rem;
     }
     .outsource {
      flex: 3;
      margin-right: 0;
   }
  
   .container2 {
    flex-direction: column;
    align-items: center;
    
}

 
  }
  
  
 
    
 .top {
    margin-left: 25px ;
 }

  

  @media (max-width: 500px) {
    .quote {
        font-size: 3rem;
    }
    .header-p  {
        border-left: none;;
         margin-left: 0px;
       padding-left: 0px;
       text-align: center;
       
      flex: 1;
      font-size: 1rem;
     }
     .line {
        display: none;
     }
     .right{
      display: inline-block;
     }
     .left {
        display: inline-block;
     }
  }

  @media (max-width: 1200px) {
   
    .instructions {
      
      width: 90%;
    }
  
    .container {
      flex-wrap: wrap;
    }
  
    .box {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
    }

  }

/* Nav*/

  @media (max-width: 680px) {


    .toggle-btn {
      display: block;

    }
    .links {
      display: none;
      width: 100%;
    }
    nav {
      flex-direction: column;
      align-items: flex-start;
     
    }
    .links ul {
      background: rgb(255, 255, 255);
      width: 100%;
      flex-direction: column;

    }
    .links ul li {
      text-align: center;
    }

    .links ul li a{
      padding: .5rem .1rem;
    }
    .links.active {
      display: flex;
    }
 
    .full-bleed {
      box-shadow: 0 0 0 100vmax rgb(255, 255, 255);
      clip-path: inset(0, -100vmax);
      
    }

    .box {
      text-align: left;
      height: 350px;
      width: 400px;
      border: none;
      background-color: var(--background);
      padding: 25px 25px;
      font-size: 14px;
      border-radius: 20px;
      box-shadow: 0 5px 2px rgba(0,0,0, 0.2);
      transition: .2s;
      cursor: pointer;
    }
      
    main {
      padding: 0;
    }
  }
  
  .links.active {
    display: block; /* show the navigation menu when the active class is applied */
  }

  .icon {
    width: 60px;
  }
 
  